<!DOCTYPE html>
<html>
  <head>
    <title>PolymorphPost</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="container">
      <div class="row">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <b><%= link_to "microblog", root_url, class: 'navbar-brand'%></b>
            </div>

            <div class="">
              <ul class="nav navbar-nav">
                <li><%= link_to "Sign In", root_url, class: ''%></li>
                <li><%= link_to "Blog", posts_url, class: ''%></li>
              </ul>
            </div>

            <div class="navbar-right">
              <% if current_user %>
                Welcome, <%= image_tag(current_user.image, width: '50', heigth: '50', class: 'img-circle') %> <%= current_user.name %>! You are logged with: <%= current_user.provider.capitalize %> <%= link_to "Sign Out", signout_path, method: :delete %>
              <% end %>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <% if notice %>
          <div class="alert alert-success" role="alert"><%= notice %></div>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger" role="alert"><%= alert %></p>
        <% end %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
