<!DOCTYPE html>
<html>
  <head>
    <title>PolymorphPost</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="container">
      <div class="row">
        <% if current_user %>
          Welcome, <%= current_user.name %>! You are logged with: <%= current_user.provider.capitalize %> <%= link_to "Sign Out", signout_path, method: :delete %>
        <% end %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
